/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: black;
    

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
    
    

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(107, 105, 105, 0.5);
    border-radius: 5px;
    
  }

/* Music Button Animation */
@keyframes pulse-music {
  0%, 100% {
    transform: scale(1);
    filter: drop-shadow(0 0 8px rgba(76, 175, 80, 0.3));
  }
  50% {
    transform: scale(1.15);
    filter: drop-shadow(0 0 15px rgba(76, 175, 80, 0.6));
  }
}

.music-button-mui {
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
}

.butto{

background-color: black;
color: beige;
width: 50px;
height: 50px;
align-items: center;
justify-content: center;
display: flex;
border-radius: 50%;
font-size: 24px;
cursor: pointer;
transition: all 0.3s ease;
flex-shrink: 0;
border: 2px solid transparent;

}
.butto:hover{

  background-color: black;
  color: beige;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  font-size: 24px;
  border: 2px solid beige;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(245, 245, 220, 0.3);

}
.portia{

color: beige;
display: flex;
flex-direction: row;
flex-wrap: wrap;


}
.social{

width: 40px;
height: 40px;


}
.blinking-cursor {
  animation: blink 3s infinite;
}
.blinking-cursor2 {
  animation: blink 1s infinite;
}


@keyframes blink {
  50% {
    opacity: 0;
  }
}
.cropped1 {
  width: 18vw; 
  height: 18vw; 
  object-fit: cover;
  border: 5px solid black;
  border-radius: 50%;
  
}

.text1{


  color: beige;
  font-size:1.9vw
  
  

}
.text2{


  color: beige;
  font-size:5vh
  
  

}
.bubble {

  width: 100px; 
  height: 100px; 
  object-fit: cover;
  border: 5px solid black;
  border-radius: 50%;
}

.bubble-text {
  text-align: center;
}
.curs{

position: absolute;
bottom: 0;


}

.proimg{
  width: 4vw; 
  height: 4vw; 
  border-radius: 50%;
  object-fit: cover;
}
.desc{

font-size: 0.8vw;
color:gold

}
.text3{


  color: beige;
  font-size:1.5vw
  
  

}
.t2{

padding: 0.5vw;

}
a {
  text-decoration: none;
}
